header{
    background-color: $color3;
    color: $color1;
    border-bottom: $border $color1;
    padding: 10px  10px 0 10px;
    position: sticky;
    top: 0;
    .nav1{
        @include flexBoxRow(space-between);
        margin-bottom: 20px;
        .logo, i{
            font-size: 1.5rem;
            font-weight: bold;
        }
        nav{
            margin-right: 10px;
            align-self: center;
            a{
                margin-right: 10px;
                padding: 10px 5px;
                text-decoration: underline;
                font-weight: 200;
            }
        }
    }
    .nav2{
        @include flexBoxRow(center);
        a{
            margin: 0 10px;
            padding: 5px 10px;
            font-weight: 200;
        }
    }
}