$color1: #d4d4ce !important;
$color2: rgb(20,20,20) !important;
$color3: #182f4b !important;
$azul: rgb(7, 101, 207) !important;
$cinza: rgb(117, 114, 114) !important;
$border: 1px solid !important;
$border2: 2px solid !important;